body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box
}

.card h2 {
    margin-bottom:10px;
}

/* 
- Used:
    padding
    margin
    border
    border radius
    box shadow
- Cenered using Flexbox

Best Practices
    * always use box sixing, border box to avoid size issues
    * use padding for inner spacing, not margin
    * use margin to separate elements
    * keep border styles consistent across the site
    * use box shadow for a professional look

Key Takeaways
    - The box model consists of content, padding, border, and margin.
    - Box-sizing: border-box; ensures width and height include padding/border.
    - Margins create outer space, while padding creates inner space.
    - Borders wrap around elements and can have different styles.
    - Box shadows add depth for a modern look.
*/